-
    var aboutCollectionData=[
    {
        "text":"Text message",
        "header":"Header message",
        "href":"new-collection-6",
        "src":"/img/content/new-collection-6.jpg",
    },
    {
        "text":"Text message",
        "header":"Header message",
        "href":"new-collection-7",
        "src":"/img/content/new-collection-7.jpg",
    },
    {
        "text":"Text message",
        "header":"Header message",
        "href":"new-collection-8",
        "src":"/img/content/new-collection-8.jpg",
    },{
        "text":"Text message",
        "header":"Header message",
        "href":"new-collection-9",
        "src":"/img/content/new-collection-9.jpg",
    },{
        "text":"Text message",
        "header":"Header message",
        "href":"new-collection-10",
        "src":"/img/content/new-collection-10.jpg",
    }
    ];
