@import "../../components/layout/layout.scss";
@import "../../components/breadcrumbs/breadcrumbs.scss";
@import "../../components/about-us/about-us.scss";
@import "../../components/about-text-block/about-text-block.scss";
@import "../../components/our-inspiration/our-inspiration.scss";
@import "../../components/about-partners/about-partners.scss";
@import "../../components/collection-list/collection-list.scss";
.about__about-us {
    margin-bottom: 149px;
}

.about__breadcrumbs {
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%;
}

.about__video {
    display: block;
    max-height: 414px;
    height: 100%;
    margin-bottom: 98px;
    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.about__text-block {
    margin-bottom: 40px;
}

.about__our-inspiration {
    margin-bottom: 20px;
}

.about__about-partners {
    margin-bottom: 50px;
}

.about__collection {
    margin-bottom: 72px;
}