.about-text-block {
    &__header {
        font: $h-font;
        font-size: $h3-size;
        line-height: $h3-line-height;
        max-width: 822px;
        @media (max-width:575px) {
            font-size: $h4-size;
            line-height: $h4-line-height;            
        }
    }
    &__text {
        padding-left: 285px;
        font: $text-font;
        &+&{
            padding-top: 30px;
        }
        @media (max-width:1200px) {
            padding-left: 0;            
        }
    }
}
