-
    var menuList=[
    {
        "name":"index",
        "caption":'<img src="./img/logo.png" alt="Лого"/>',
        "href":"/",
    },
    {
        "name":"about",
        "caption":'About',
        "href":"/about.html",
    },
    {
        "name":"gallary",
        "caption":'Gallery',
        "href":"/gallary.html",
    },
      {
        "name":"blog",
        "caption":'Blog',
        "href":"/blog.html",
    },
    {
        "name":"contact",
        "caption":'Contact',
        "href":"/contact.html",
    },
    {
        "name":'burger',
        "caption":'',
        "href":"#",
    }
    ];
