-
    var gallaryData = {
        filters:[
            {
                filter: "bedroom",
                caption: "Bedroom furniture"
            },
            {
                filter: "living-room",
                caption: "Living room furniture"
            }, 
            {
                filter: "office",
                caption: "Office furniture"
            }, 
            {
                filter: "dining-room",
                caption: "Dining room futniture"
            },
            {
                filter: "chair",
                caption: "Chair"
            }
        ],
        pages:[
            {
                filter: "bedroom",
                images:[
                    {
                        src:"/img/gallary/gallary-img-1.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-2.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-3.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-4.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-5.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-6.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-7.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-8.jpg"
                    },
                      {
                        src:"/img/gallary/gallary-img-9.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-10.jpg"
                    }
                ]

            },
            {
                filter: "living-room",
                images:[
                    {
                        src:"/img/gallary/gallary-img-1.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-2.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-3.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-4.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-5.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-6.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-7.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-8.jpg"
                    },
                      {
                        src:"/img/gallary/gallary-img-9.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-10.jpg"
                    }
                ]

            },
              {
                filter: "office",
                images:[
                    {
                        src:"/img/gallary/gallary-img-1.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-2.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-3.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-4.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-5.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-6.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-7.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-8.jpg"
                    },
                      {
                        src:"/img/gallary/gallary-img-9.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-10.jpg"
                    }
                ]

            },
             {
                filter: "dining-room",
                images:[
                    {
                        src:"/img/gallary/gallary-img-1.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-2.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-3.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-4.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-5.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-6.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-7.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-8.jpg"
                    },
                      {
                        src:"/img/gallary/gallary-img-9.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-10.jpg"
                    }
                ]

            },
             {
                filter: "chair",
                images:[
                    {
                        src:"/img/gallary/gallary-img-1.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-2.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-3.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-4.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-5.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-6.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-7.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-8.jpg"
                    },
                      {
                        src:"/img/gallary/gallary-img-9.jpg"
                    },
                    {
                        src:"/img/gallary/gallary-img-10.jpg"
                    }
                ]
            },
        ]
    }
