-
    var asideDataBlog = {
        categories:[
            {
            category:"Dining room (1)",
            href:"category/dining-room"
            },
            {
            category:"Office furniture (12)",
            href:"category/office-furniture"
            },
            {
            category:"Simple interiror design (2)",
            href:"category/simple-interiror-design"
            },
            {
            category:"Design (4)",
            href:"category/design"
            },
            {
            category:"Bedroom Furniture (1)",
            href:"category/bedroom-furniture"
            },
        ],  
        posts:[
            {
                header:"Cred selfies edison bulb four dollar toast humblebrag",
                url:"#" ,
                date:"August 10, 2020" ,
                author:"by Ann Summers",
                authorUrl:"#"
            },
            {
                header:"Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth",
                url:"#" ,
                date:"September 30 ,2020 " ,
                author:"by Ann Summers",
                authorUrl:"#"
            },
            {
                header:"Cred selfies edison bulb four dollar toast humblebrag",
                url:"#" ,
                date:"May 2, 2020 " ,
                author:"by Ann Summers",
                authorUrl:"#"
            }
        ],
        tags:[
            {
            tag:"Dining room futniture",
            href:"category/dining-room"
            },
            {
            tag:"Chair",
            href:"category/office-furniture"
            },
            {
            tag:"Table",
            href:"category/simple-interiror-design"
            },
            {
            tag:"Bedroom",
            href:"category/design"
            },
            {
            tag:"Office Furniture",
            href:"category/bedroom-furniture"
            },
        ],
        class:{
           category:"blog__aside-category",
           "category-list":"blog__aside-category-list",
           posts: "blog__aside-posts",
           tags:"blog__aside-tags",
           form:"blog__aside-form",
        }
    }
