@import "../../components/layout/layout.scss";
@import "../../components/breadcrumbs/breadcrumbs.scss";
@import "../../components/post/post.scss";
@import "../../components/aside-blog/aside-blog.scss";
@import "../../components/post-list/post-list.scss";
@import "../../components/comments/comments.scss";
.single-post {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 60px;
    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
    &__inner{
        max-width: 730px;
        width: 100%;
        order: 1;
        flex-shrink: 1;
        @media (max-width:1200px) {
            order: 2;
        }
    }
    &__post {
        margin-right: 15px;
        margin-bottom: 80px;
        @media (max-width: 1200px) {
            margin-right: 0px;
            margin-bottom: 40px;
        }
        @media (max-width:768px) {
            max-width: 100%;            
        }
        @media (max-width:575px) {
            margin-bottom: 20px;
        }
       
    }
    &__aside {
        max-width: 350px;
        order: 2;
        @media (max-width: 1200px) {
            order: 1;
            display: flex;
            flex-wrap: wrap;
            max-width: none;
            align-items: flex-start;
            max-width: 730px;
            width: 100%;
        }
    }
    &__aside-form{
        margin-bottom: 20px;
    }
    &__aside-category{
        margin-bottom: 20px;
    }
    &__aside-posts{
        margin-bottom: 20px;
    }
    &__breadcrumbs {
        margin-bottom: 60px;
    }
    &__blockquote {
        margin: 0;
        display: block;
        padding: 40px;
        @media (max-width:768px) {
            padding: 15px;            
        }
    }
    &__blockquote-text {
        font: $text-font;
        font-weight: 300;
        font-style: italic;
        font-size: $h4-size;
        line-height: $h4-line-height;
        text-align: left;
        position: relative;
        padding-bottom: 25px;
        margin-bottom: 25px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 170px;
            height: 1px;
            left: 0;
            background-color: #6d7278;
        }
        @media (max-width:768px) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-size: $h5-size;
            line-height: $h5-line-height;            
        }
    
    }
    &__blockquote-author {
        display: block;
        font: $h-font;
        font-size: $h5-size;
        line-height: $h5-line-height;
        text-align: left;
        @media (max-width:768px) {
            font-size: $h5-size;
            line-height: $h5-line-height;            
        }
    }
    &__post-list{
    }
  
   
}
