html,
body {
    height: 100%;
    background-color: $bgcolor;
    color: $text-color;
    font: $text-font;
    overflow: hidden;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font: $h-font;
    color: $h-color;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
}

img {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    
}
.video-link{
     position: absolute;
     width: 80px;
     height: 80px;
     background: url(/img/play_button.svg) no-repeat center/contain;
     left: 50%;
     top:50%;
     transform: translate(-50%,-50%);
     z-index: 2;
     cursor: pointer;
    }
