$bgcolor:#fff;
$text-size:16px;
$text-line-height:27px;
$text-color:#5A5A5A;
$text-font: 400 16px/27px 'Open Sans',
sans-serif;
$h1-size:110px;
$h1-line-height:134px;
$h2-size:60px;
$h2-line-height:80px;
$h3-size:36px;
$h3-line-height:51px;
$h4-size:24px;
$h4-line-height:38px;

$h4-size-single:28px;
$h4-line-height-single:40px;

$h5-size:16px;
$h5-line-height:23px;
$h-color:#363838;
$h-font:700 16px/23px 'Montserrat', sans-serif;
$small-text-size:14px;
$small-text-line-height:28px;
$small-text-color:#A1A1A1;
$border-color:#DFDFDF;
$button-clor:#fffff0;

