@import "../../components/layout/layout.scss";
@import "../../components/breadcrumbs/breadcrumbs.scss";
@import "../../components/social-links/social-links.scss";
.contact {
    &__map {
        margin-top: -56px;
        iframe {
            min-height: 530px;
            @media (max-width: 768px) {
                min-height: 300px;
            }
            @media (max-width: 575px) {
                min-height: 250px;
            }
        }
    }
    &__header {
        font: $h-font;
        font-size: $h3-size;
        line-height: 60px;
        color: $h-color;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 2px;
            background-color: #6d7278;
            bottom: 0px;
            left: 0px;
        }
        @media (max-width: 575px) {
            font-size: $h4-size;
            line-height: $h4-line-height;
        }
    }
    &__contact-us-content {
        margin-left: 285px;
        font: $text-font;
        color: $text-color;
        margin-bottom: 100px;
        @media (max-width: 1200px) {
            margin-left: 0px;
            margin-bottom: 80px;
        }
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
    }
    &__social-item {
        font-size: 0px;
        // &+& {
        //     margin-left: 36px;
        // }
    }
    &__social-links {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        max-width: 300px;
        justify-content: space-between;
    }
    &__text {
        color: #a1a1a1;
        margin-bottom: 10px;
    }
    &__city {
        margin-bottom: 16px;
    }
    &__email {
        padding-left: 29px;
        display: inline-block;
        font-weight: 600;
        color: $h-color;
        background-image: url("/img/envelope.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 16px;
        margin-bottom: 25px;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 575px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    &__input {
        padding: 6px 16px;
        border: 1px solid #dfdfdf;
        border-radius: 20px;
        flex-grow: 1;
        &::placeholder {
            font: $text-font;
            line-height: 28px;
            color: #a1a1a1;
        }
        & + & {
            margin-left: 11px;
        }
        @media (max-width: 575px) {
            & + & {
                margin-left: 0px;
                margin-top: 10px;
            }
            width: 100%;
        }
    }
    &__message {
        padding: 14px 16px;
        border: 1px solid #dfdfdf;
        border-radius: 24px;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        min-height: 125px;
        resize: none;
        &::placeholder {
            font: $text-font;
            line-height: 28px;
            color: #a1a1a1;
        }
    }
    &__submit {
        padding: 6px 16px;
        min-width: 180px;
        background: #363838;
        border-radius: 21px;
        font: $text-font;
        color: #fffff0;
        border: none;
        font-weight: 600;
        @media (max-width: 575px) {
            align-self: center;
        }
    }
    &__slider {
        margin-bottom: 102px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
    }
    &__slider-item {
        display: block;
        max-width: 170px;
        width: 100%;
        max-height: 170px;
        height: 100%;
        position: relative;
    }
    &__slider-item-header {
        transition: opacity 0.5s;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font: $h-font;
        font-size: $h5-size;
        line-height: $h5-line-height;
        color: $h-color;
        opacity: 0;
    }
    &__slider-item-img {
        width: 100%;
        object-fit: cover;
    }
    &__slider-item:hover {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #ffffff;
            opacity: 0.6;
        }
        .contact__slider-item-header {
            opacity: 1;
        }
    }
    &__slider-dots {
        display: flex;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
        line-height: 0px;
        font-size: 0px;
        li + li {
            margin-left: 30px;
        }
        button {
            background-color: $h-color;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: none;
            padding: 0;
        }
        .slick-active button {
            background-color: #ffef35;
        }
    }
}
