include ../header-text/header-text.pug
mixin new-collection()
    section.new-collection&attributes(attributes)
        .new-collection__inner 
            +header-text("Furniture new collection","new-collection__header","center")(class="new-collection__header-container")
                p.new-collection__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint

            .new-collection__list 
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-1.jpg", alt="")
                    +h4-text("Truffaut literally trust","new-collection__item-header","center")(class="new-collection__item-info")
                        p.new-collection__item-text Living room furntiture | Chair
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-2.jpg", alt="")
                    +h4-text("Truffaut literally trust","new-collection__item-header","center")(class="new-collection__item-info")
                        p.new-collection__item-text Living room furntiture | Chair
                      
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-3.jpg", alt="")
                    +h4-text("Truffaut literally trust","new-collection__item-header","center")(class="new-collection__item-info")
                        p.new-collection__item-text Living room furntiture | Chair
                    
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-4.jpg", alt="")
                    +h4-text("Truffaut literally trust","new-collection__item-header","center")(class="new-collection__item-info")
                        p.new-collection__item-text Living room furntiture | Chair
                    
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-5.jpg", alt="")
                    +h4-text("Truffaut literally trust","new-collection__item-header","center")(class="new-collection__item-info")
                        p.new-collection__item-text Living room furntiture | Chair
                    

