mixin new-collection()
    section.new-collection&attributes(attributes)
        .new-collection__inner 
            .new-collection__title 
                h3.new-collection__header Furniture new collection
                p.new-collection__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint

            .new-collection__list 
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-1.jpg", alt="")
                    .new-collection__item-info
                        h4.new-collection__item-header Truffaut literally trust
                        p.new-collection__item-text Living room furntiture | Chair
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-2.jpg", alt="")
                    .new-collection__item-info 
                        h4.new-collection__item-header Truffaut literally trust
                        p.new-collection__item-text Living room furntiture | Chair
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-3.jpg", alt="")
                    .new-collection__item-info 
                        h4.new-collection__item-header Truffaut literally trust
                        p.new-collection__item-text Living room furntiture | Chair
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-4.jpg", alt="")
                    .new-collection__item-info 
                        h4.new-collection__item-header Truffaut literally trust
                        p.new-collection__item-text Living room furntiture | Chair
                a.new-collection__item(href="#")
                    img.new-collection__item-img(src="/img/content/new-collection-5.jpg", alt="")
                    .new-collection__item-info 
                        h4.new-collection__item-header Truffaut literally trust
                        p.new-collection__item-text Living room furntiture | Chair
            

