mixin about-partners()
    .about-partners&attributes(attributes)
        .about-partners__inner 
            ul.about-partners__list 
                li.about-partners__item
                    img.about-partners__img(src="/img/parners/partner-1.svg", alt="")
                li.about-partners__item
                    img.about-partners__img(src="/img/parners/partner-2.svg", alt="")
                li.about-partners__item
                    img.about-partners__img(src="/img/parners/partner-1.svg", alt="")
                li.about-partners__item
                    img.about-partners__img(src="/img/parners/partner-2.svg", alt="")
                li.about-partners__item
                    img.about-partners__img(src="/img/parners/partner-1.svg", alt="")
                
