mixin how-it-work()
    section.how-it-work&attributes(attributes)
        .how-it-work__inner 
            h3.how-it-work__header How it works
            .how-it-work__list 
                .how-it-work__item.how-it-work__item--designer
                    h5.how-it-work__item-header Designer Consultation
                    p.how-it-work__item-text Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche
                .how-it-work__item.how-it-work__item--production
                    h5.how-it-work__item-header Production
                    p.how-it-work__item-text Everyday carry actually neutra authentic kogi shabby chic
                .how-it-work__item.how-it-work__item--measurements
                    h5.how-it-work__item-header Measurements
                    p.how-it-work__item-text Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche
