@import "../background-fluid/background-fluid";
.about-us {
    position: relative;
    padding: 159px 0px;
    text-align: center;
    font: $h-font;
    font-size: 60px;
    line-height: 80px;
    color: $h-color;
    @media (max-width:575px) {
        font-size: 25px;
        padding: 20px 0px;        
    }
}
