.our-inspiration {
    background-image: url("/img/bg-first-page-header-slider.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 414px;
    &__content {
        position: relative;
        display: flex;
        padding-bottom: 45px;
    }
    &__img {
        width: 432px;
        height: 506px;
        margin-left: -200px;
        margin-right: 78px;
    }
    &__information {
        max-width: 825px;
        width: 100%;
    }
    &__header {
        font: $h-font;
        font-size: $h3-size;
        line-height: $h3-line-height;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 23px;
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 2px;
            bottom: 0px;
            background-color: #6D7278;
        }
    }
    &__sub-header {
        margin-bottom: 30px;
    }
    &__list {
        font: $h-font;
        font-size: $h5-size;
        line-height: $h5-line-height;
    }
    &__item {
        &+& {
            margin-top: 30px;
        }
    }
    &__detail {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #FFF;
        border-radius: 4px;
    }
    &__line {
        border-bottom: 2px solid currentColor;
        border-radius: 4px;
        margin-top: -2px;
    }
    &__item-name {}
    &__item-value {}
}