include ../header-text/header-text.pug
mixin our-inspiration()
    .our-inspiration&attributes(attributes)
        .our-inspiration__inner.container

            .our-inspiration__content
                img.our-inspiration__img(src="/img/Green_chair.png", alt="")
                .our-inspiration__information
                    +header-text("Our Inspiration in details","our-inspiration__header")(class="our-inspiration__header-container")
                        p.our-inspiration__sub-header Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.
                    ul.our-inspiration__list
                        li.our-inspiration__item 
                            .our-inspiration__detail
                                .our-inspiration__item-name Design and technical drawings
                                .our-inspiration__item-value 80%
                            .our-inspiration__line(style={width:"80%"})
                        li.our-inspiration__item 
                            .our-inspiration__detail
                                .our-inspiration__item-name Measurments
                                .our-inspiration__item-value 70%
                            .our-inspiration__line(style={width:"70%"})
                        li.our-inspiration__item 
                            .our-inspiration__detail
                                .our-inspiration__item-name Furniture functionality analysis
                                .our-inspiration__item-value 75%
                            .our-inspiration__line(style={width:"75%"})
                        li.our-inspiration__item 
                            .our-inspiration__detail
                                .our-inspiration__item-name Interior visualization
                                .our-inspiration__item-value 40%
                            .our-inspiration__line(style={width:"40%"})





                    
            

