include ../header-text/header-text.pug
mixin aesthetic()
    section.aesthetic&attributes(attributes)
        +h2-text("Aesthetic ethical drinking","aesthetic__header")(class="container")
            p.aesthetic__text Deep v you probably haven't heard of them banh mi synth actually affogato. Artlyft ethical the one drinking vinegar austint

