mixin aesthetic()
    section.aesthetic&attributes(attributes)
        .container 
            h2.aesthetic__header Aesthetic ethical drinking
            p.aesthetic__text Deep v you probably haven't heard of them banh mi synth actually affogato. Artlyft ethical the one drinking vinegar austint

